.container {
  width: 500px;
  border: 1px solid;
  border-radius: 5%;
  padding: 1rem;

}
.pelanggan {
  display: block;
}
.radio {
  margin-left: 9rem;
  margin-top: 1rem;
}
.input {
  margin-left: 1.9rem;
}
.button {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 1rem;
}

.form {
  text-align: center;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;

}


.tableBuah {
    border: 3px solid grey;
    width: 50rem;
    padding:5px;
    margin-top:5%
  }

.tableTitle {
  text-align: center;
  background-color: grey !important;
  font-weight: 500;
}

.tableBody {
  background-color: #FD6A02;
}

.title {
  text-align: center;
}


